.text-center {
    font-family: 'Rye', cursive;
    font-size: 100px;
    /* background-color: #8a8a8a70; */
    color: red;
    text-shadow: 2px 2px black;
}

body {
    background: url("../img/image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.card-header {
    background-color: peachpuff;
    color: black;
    font-weight: bold;
    font-family: 'Rye', cursive;
    font-size: 20px;
}


.container2 {
    max-width: 80%;
    margin: auto;
}

.card-body {
    font-size: 20px;
    text-align: center;
    color: black;
    /* text-shadow: 2px 2px black; */
}

h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;

}

.add-card {
    margin: auto;
    /* background-color: #8a8a8a70; */
    color: black;
    font-size: 20px;
    
}

#market-info {
    font-family: 'Rye', cursive;
    font-weight: bold;
    font-size: 20px;
}

.form-group {
    font-family: 'Rye', cursive;
    font-weight: bold;
}

#search-btn {
    font-family: 'Rye', cursive;
    background-color: green;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#add-btn {
    font-family: 'Rye', cursive;
    background-color: green;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.footer {
    border-top: 2px solid black;
    font-family: 'Rye', cursive;
    margin-top: 2px;
    position: fixed;
    height: 40px;
    padding: 0px;
    left: 0; 
    bottom: 0;
    width: 100%;
    background-color: peachpuff;
    color: black;
    text-align: center;
}

  /* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/food/foo-5/foo430.cur), auto !important;} /* End http://www.cursors-4u.com */